name: Sentry Error Monitoring

on:
  push:
    branches: [main]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Sentry Release
        uses: getsentry/action-release@v1
        with:
          environment: production
          sentry_org: ${{ secrets.SENTRY_ORG }}
          sentry_project: ${{ secrets.SENTRY_PROJECT }}
          sentry_auth_token: ${{ secrets.SENTRY_AUTH_TOKEN }}
