version: "3.9"

services:
  api:
    build: .
    container_name: snitch_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: snitch
      POSTGRES_PASSWORD: snitchpass
      POSTGRES_DB: snitchdb
    ports:
      - "5433:5432"

  redis:
    image: redis
    ports:
      - "6379:6379"

  worker:
    build: .
    command: celery -A app.workers.celery_app.celery worker --loglevel=info
    depends_on:
      - api
      - redis
